# Python Virtual Environment
venv/
backend/venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# OS Files
.DS_Store
